.LandingPage{
    background-color: black;
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

  }
  .CirclePink{
      width: 40%;
      height: 100%;
      position: absolute;
      right: 0;
      z-index: 0;
  }

  .CircleBLue{
      width: 20%;
      height: 230px;
      background: var(--color-gray);
      position: absolute;
      bottom: 0;
      border-radius:0px 120% 0px 0px;
  }
  .CircleRed{
      width:420px;
      height: 420px;
      background: var(--color-red);
      border-radius: 50%;
      position: absolute;
      top: 11%;
      left: 51.5%;
  }
  .landingImg{
      position: absolute;
      left: 53%;
      bottom: 0;
      z-index: 1;
      height: 590px;
      width: 500px;
  }
  .info{
      color: var(--color-red);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
      position: absolute;
      top: 30%;
      left: 5%;
      letter-spacing: 3px;
    }
    .info .desc{
        color: var(--color-red);
        font-size: 44px;
    }
    .info .title{
        color: white;
        font-size: 77px;
        font-family: '__DynaPuff_bea326';
    }
    .info .paragraph{
        color: var(--color-pink);
        font-size: 22px;
    }
    .info .serach{
        background: transparent;
        color:var(--color-red) ;
        border-radius: 16px;
        padding: 9px;
        border: 1px solid var(--color-red);
        width: 190px;
        letter-spacing: 0;
        cursor: pointer;
    }
    .info .serach::placeholder{
        color: var(--color-red);
    }
    .info .serach:focus{
        outline: none;
        border: 2px solid white;
    }

.categories{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
  }
  .miniCat , .largCat{
      width:370px;
      border-radius: 15px;
      height: 300px;
      position: relative;
      overflow: hidden;
    }
    .miniCat .desc{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 90%;
        position: absolute;
        left: 8%;
        top: 12%;
      }
      .miniCat .desc .title{
          color: white;
          font-size: 58px;
      }
      .miniCat .desc .wear{
          color: var(--color-gray);
          font-size: 40px;
      }
      .miniCat .desc .sheck{
          background: white;
          width: 120px;
          border-radius: 20px;
          padding: 9px;
          text-align: center;
          font-size: 18px;
      }
    .miniCat  .images{
        position: absolute;
        right:0;
        top: 0;
        height: 100%;
    }

  .largCat{
    flex-grow:1;
    min-width:400px;
  }
  .largCat .desc{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 90%;
    position: absolute;
    left: 8%;
    top: 12%;
  }
  .largCat .desc .title{
      color: white;
      font-size: 58px;
  }
  .largCat .desc .wear{
      color: var(--color-gray);
      font-size: 40px;
  }
  .largCat .desc .sheck{
      background: white;
      width: 120px;
      border-radius: 20px;
      padding: 9px;
      text-align: center;
      font-size: 18px;
  }
  .largCat .images{
      position: absolute;
      right:0;
      top: 0;
      height: 100%;
  }



.features{
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .features .reason{
      display: flex;
      align-items: center;
      gap: 20px;
      margin:0 auto;
    }
    .features .reason .title{
        font-size: 16px;
    }
    
.sales{
    background: var(--color-red);
    display: flex;
    align-items: center;
    height:330px;
    border-radius: 25px;
    margin-top: 135px;
    justify-content: space-evenly;
    color: white;
    letter-spacing: 0.8px;
    box-shadow: rgb(156, 156, 156) 0px 0px 12px 1px;
  }
  .saletitle{
      font-size: 90px;
      width: 120px;
      font-family: '__DynaPuff_bea326';
      font-weight: bolder;
      font-style: italic;
      letter-spacing:2px;

  }
  .descsale{
      font-family: system-ui;
      font-weight: bold;
      font-size: 22px;
      display: flex;
      flex-direction: column;
      gap: 13px;
      width: 253px;
      
    }
    .descsale .desc{
        font-size: 15px;
    }
    .descsale .tosalepage{
        color: var(--color-red);
        background: white;
        padding: 11px;
        width: 137px;
        border-radius: 24px;
        font-size: 18px;
        text-align: center;
    }


.bestSeller{
    margin-top: 150px;
  }
  .bestSelerTitle{
      text-align: center;
      font-family: '__DynaPuff_bea326';
      font-size: 39px;
  }
  .bestItems{
      display: flex;
      gap:30px;
      flex-wrap: wrap;
      margin-top: 40px;
      .item{
          height:500px;
          width:calc(25% - 30px) ;
          min-width: 280px;
          border-radius: 15px;
          margin: 0 auto;
          
          .img{
              width: 100%;
              height: 75%;
              border-radius: 15px;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              position: relative;
              .towishlist{
                  position: absolute;
                  right: 10px;
                  top: 10px;
              }
          }
          .titleItem{
              font-size: 23px;
              margin-top: 10px;
              max-height: 10%;
          }
          .infoItem{
              display: flex;
              gap: 30px;
              align-items: center;
              margin-top: 10px;
              font-size: 19px;
              .price{
                  background-color: var(--color-red);
                  padding: 4px;
                  border-radius: 5px;
                  color: white;
              }
              .tocart{
                  color: var(--color-red);
                  border: 2px solid var(--color-red);
                  padding: 4px;
                  border-radius: 5px;
                  background-color: transparent;
              }
          }
      }
  }












.dotspinner {
    --uib-size: 2rem;
    --uib-speed: .9s;
    --uib-color: #FF4D4D;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dotspinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dotspinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dotspinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dotspinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dotspinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dotspinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dotspinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dotspinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dotspinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dotspinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dotspinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dotspinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dotspinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dotspinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dotspinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dotspinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .outofstock{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1E8EFF;
    color: white;
    padding: 10px;
    border-radius: 0 15px 0px 15px;
    font-size: 16px;

  }
  .salecontainer{
    position: absolute;
    background: var(--color-red);
    left: 10px;
    top: 10px;
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 15px;
  }



  @media screen and (max-width:1500px) {

      .miniCat , .largCat{
        width:350px;
      }
      .miniCat .desc ,.largCat .desc{
          position: absolute;
          left: 8%;
          top: 12%;
        }
        .miniCat .desc .title,.largCat .desc .title{
            font-size: 55px;
        }
        .miniCat .desc .wear,.largCat .desc .wear{
            font-size: 35px;
        }
        .miniCat .desc .sheck,.largCat .desc .sheck{
            width: 100px;
            border-radius: 20px;
            padding: 8px;
            text-align: center;
            font-size: 17px;
        }
      .miniCat .images {
        width: 195px;
      }
      .largCat{
        flex-grow:1;
        min-width:400px;
      }
      .largCat .images{
        width: 250px;
      }
  }
  @media screen and (max-width:1360px)  {
    .largCat{
      min-width: 420px;
    }
    .largCat .desc{
        position: absolute;
        left: 6%;
      }
      .largCat .desc .title{
          font-size: 50px;
      }
      .largCat .desc .wear{
          font-size: 30px;
      }
    .largCat .images{
      width: 210px;
    }
  }
  @media screen and (max-width:1300px) {
    .info{
      letter-spacing: 2px;
    }
    .info .desc{
        font-size: 40px;
    }
    .info .title{
        font-size: 65px;
    }
    .info .paragraph{
        color: var(--color-pink);
        font-size: 20px;
    }
  }
  @media screen and (max-width:1278px)  {
    .miniCat {
      width:310px;
      
    }
    .miniCat .desc{
        position: absolute;
        left: 6%;
      }
      .miniCat .desc .title{
          font-size: 48px;
      }
      .miniCat .desc .wear{
          font-size: 29px;
      }
  }
  @media screen and (max-width:1190px)  {
          .miniCat{
            flex-grow: 1;
          }
          .miniCat .desc{
            position: absolute;
            left: 6%;
          }
          .miniCat .desc .title{
              font-size: 55px;
          }
          .miniCat .desc .wear{
              font-size: 35px;
          }
        .miniCat .images{
          width: 210px;
        }

  }
  @media screen and (max-width:1100px) {
    .CircleRed{
      width:400px;
      height: 400px;
      position: absolute;
      top: 11%;
      left: 57%;
    }
    .landingImg{
        position: absolute;
        left: 60%;
        bottom: 0;
        width: 450px;
    }
    .info{
      letter-spacing: 1.5px;
    }
    .info .desc{
        font-size: 38px;
    }
    .info .title{
        font-size: 59px;
    }
    .info .paragraph{
        color: var(--color-pink);
        font-size: 19px;
    }
  }
  @media screen and (max-width:1000px) {
    .saletitle{
        font-size: 85px;
        width: 190px;
    }
    .descsale{

        font-size: 22px;
        width: 253px;
        
      }
      .descsale .desc{
          font-size: 15px;
      }
    .imgsale{
      width: 320px;
    }
  }
  @media screen and (max-width:952px)  {
    .largCat{
      min-width: 540px;
    }
  }
  @media screen and (max-width:870px) {
    .sales{
      height:300px;
    }
    .saletitle{
        font-size: 75px;
        width: 170px;
    }
    .descsale{
        font-size: 20px;
        width: 240px;
      }
      .descsale .desc{
          font-size: 14px;
      }
      .descsale .tosalepage{
          padding: 10px;
          width: 120px;
          font-size: 16px;
      }
    .imgsale{
      width: 280px;
    }
  }
  @media screen and (max-width:800px) {
        .CircleRed{
          display: none;
      }
      .landingImg{
        display: none;
      }
      .CirclePink{
        width: 55%;
        height: 100%;
      }

      .CircleBLue{
          width: 30%;
      }
        .info{
          letter-spacing: 2px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          left: 0;
          gap: 30px;
        }
        .info .desc{
            font-size: 40px;
        }
        .info .title{
            font-size: 62px;
        }
        .info .paragraph{
            font-size: 20px;
        }
      .miniCat {
        width: 300px;
      }
      .miniCat .desc{
          left: 5%;
        }
        .miniCat .desc .title{
            font-size: 50px;
        }
        .miniCat .desc .wear{
            font-size: 32px;
        }
      .miniCat .images{
        width: 190px;
      }
      .largCat{
        min-width:400px;
      }
       .largCat .desc{
        left: 5%;
      }
      .largCat .desc .title{
          font-size: 57px;
      }
      .largCat .desc .wear{
          font-size: 37px;
      }
       .largCat .images{
        width: 250px;
       }

  }
  @media screen and (max-width:770px) {
    .sales{
      height:270px;
    }
    .saletitle{
        font-size: 60px;
        width: 145px;
    }
    .descsale{

        font-size: 18px;
        width: 230px;
        
      }
      .descsale .desc{
          font-size: 13px;
      }
      .descsale .tosalepage{
          padding: 9px;
          width: 100px;
          font-size: 13px;
      }
    .imgsale{
      width: 250px;
    }
  }
  @media screen and (max-width:700px) {
    .sales{
      height:240px;
    }
    .saletitle{
        font-size: 55px;
        width: 120px;
    }
    .descsale{

        font-size: 16px;
        width: 190px;
        
      }
      .descsale .desc{
          font-size: 11px;
      }
      .descsale .tosalepage{
          padding: 9px;
          width: 95px;
          font-size: 12px;
      }
    .imgsale{
      width: 220px;
    }
  }
  @media screen and (max-width:675px) {

        .miniCat {
          width: 210px;
        }
        .miniCat .desc{
            left: 4%;
          }
          .miniCat .desc .title{
              font-size: 43px;
          }
          .miniCat .desc .wear{
              font-size: 29px;
          }
          .miniCat .desc .sheck{
            width: 80px;
            padding: 6px;
            font-size: 14px;
          }
        .miniCat .images{
          width: 170px;
        }


      .features{
        gap: 20px;
        .reason{
          gap: 10px;
            .title{
                font-size: 14px;
            }
        }
    }

  }
  @media screen and (max-width:600px) {

      .desc{
          font-size: 35px;
      }
      .title{
          font-size: 50px;
      }
      .paragraph{
          font-size: 17px;
      }


    .sales{
      height:200px;
      margin-top: 90px;
    }
    .saletitle{
        font-size: 45px;
        width: 100px;
    }
    .descsale{
        font-size: 14px;
        width: 160px;
        
      }
      .descsale .desc{
          font-size: 10px;
      }
      .descsale .tosalepage{
          padding: 8px;
          width: 88px;
          font-size: 11px;
      }
    .imgsale{
      width: 190px;
    }
  }
  @media screen and (max-width:580px) {

      .miniCat {
        height: 270px;
        width: 120px;
      }
      .miniCat .desc{
          left: 3%;
        }
        .miniCat .desc .title{
            font-size: 37px;
        }
        .miniCat .desc .wear{
            font-size: 26px;
        }
      .miniCat .images{
        width: 140px;
      }
      .largCat{
        height: 270px;
      }


}
  @media screen and (max-width:500px) {
    

    .info .desc{
          font-size: 33px;
      }
      .info .title{
          font-size: 45px;
      }
      .info .paragraph{
          font-size: 15px;
      }


      .miniCat {
        height: 250px;
      }
      .miniCat .desc{
          left: 3%;
        }
        .miniCat .desc .title{
            font-size: 34px;
        }
        .miniCat .desc .wear{
            font-size: 24px;
        }
        .miniCat .desc .sheck{
          width: 70px;
          padding: 5px;
          font-size: 12px;
        }
      .miniCat .images{
        width: 120px;
      }
      .largCat{
        height: 250px;
      }
      .largCat .desc{
        left: 4%;
      }
      .largCat .desc .title{
          font-size: 42px;
      }
      .largCat .desc .wear{
          font-size: 27px;
      }
      .largCat .desc .sheck{
        width: 82px;
        padding: 7px;
        font-size: 13px;
      }
    .largCat .images{
      width: 165px;
    }

    .sales{
      height:170px;
    }
    .saletitle{
        font-size: 37px;
        width: 90px;
    }
    .descsale{

        font-size: 12px;
        width: 140px;
        
      }
      .descsale .desc{
          font-size: 9px;
      }
      .descsale .tosalepage{
          padding: 3px;
          width: 78px;
          font-size: 10px;
      }
    .imgsale{
      width: 130px;
    }
  }
  @media screen and (max-width:490px) {

    .features{
      gap: 20px;
    }
    .features .reason{
      gap: 10px;
    }
    .features .reason .title{
        font-size: 12px;
    }
    .features .reason .iconfeatur{
      width: 42px;
    }

 }
  @media screen and (max-width:450px) {

     .categories{
       gap:10px 5px;
      }
      .miniCat {
        height: 240px;
      }

      .miniCat .desc .title{
          font-size: 30px;
      }
      .miniCat .desc .wear{
          font-size: 24px;
      }
      .miniCat .desc .sheck{
        width: 60px;
        padding: 5px;
        font-size: 10px;
      }
      .miniCat .images{
        width: 110px;
      }
      .largCat{
        height: 240px;
        min-width: 280px;
      }
  }
  @media screen and (max-width:430px) {

    .info .desc{
          font-size: 33px;
      }
      .info .title{
        letter-spacing: 1.5px;
          font-size: 40px;
      }
      .info .paragraph{
          font-size: 15px;
      }
  
    .features{
      gap: 10px;
    }
    .features .reason{
      gap: 5px;
    }
    .features .reason .title{
        font-size: 10px;
    }
    .features .reason .iconfeatur{
      width: 36px;
    }
    .sales{
      height:170px;
    }
    .saletitle{
        font-size: 34px;
        width: 80px;
    }
    .imgsale{
      width: 110px;
    }
  }
  @media screen and (max-width:390px) {

     .miniCat {
       min-width: 175px;
       
      }
      .miniCat .desc{
       left: 4%;
      }
      .miniCat .desc .title{
          font-size: 40px;
      }
      .miniCat .desc .wear{
          font-size: 27px;
      }
      .miniCat .desc .sheck{
       width: 82px;
       padding: 7px 5px;
       font-size: 12px;
      }
      .miniCat .images{
        width: 175px;
      }

      .largCat .desc{
        left: 4%;
      }
      .largCat .desc .title{
          font-size: 40px;
      }
      .largCat .desc .wear{
          font-size: 25px;
      }
     

    .sales{
      height:150px;
    }
    .saletitle{
        font-size: 32px;
        width: 80px;
    }
    .descsale{

        font-size: 10px;
        width: 120px;
        
      }
      .descsale .desc{
          font-size: 8px;
      }
      .descsale .tosalepage{
          padding: 3px;
          width: 70px;
          font-size: 9px;
      }
    .imgsale{
      width: 95px;
    }
 }
  @media screen and (max-width:380px) {
    .info{
      letter-spacing: 1.5px;

    }
    .info .desc{
        font-size: 28px;
    }
    .info .title{
      letter-spacing: 1px;
        font-size: 33px;
    }
    .info .paragraph{
        font-size: 14px;
    }
  }
  @media screen and (max-width:355px) {

     .largCat {
       min-width: 175px;
       
      }
      .largCat  .desc{
       left: 4%;
      }
      .largCat  .desc .title{
          font-size: 36px;
      }
      .largCat  .desc .wear{
          font-size: 20px;
      }
      .largCat  .images{
        width: 160px;
      }
   
  .saletitle{
      font-size: 30px;
      width: 80px;
  }
  .imgsale{
    width: 90px;
  }
 }


 @media screen and (max-width:1010px) {
  .bestItems{
    gap:20px;

    .item{
        height:470px;
        min-width: 220px;
        .titleItem{
            font-size: 21px;
        }
        .infoItem{
            gap: 20px;
            font-size: 18px;
        }
    }
}
 }
 @media screen and (max-width:780px) {
  .bestItems{
    gap:30px;

    .item{
        height:470px;
        min-width: 45%;
        .titleItem{
            font-size: 23px;
        }
        .infoItem{
            gap: 30px;
            font-size: 19px;
        }
    }
}
 }
 @media screen and (max-width:650px) {
  .bestSeller{
    margin-top: 100px;
  }
    .bestSelerTitle{
      font-size: 32px;
  }
  .bestItems{
    gap:20px;

    .item{
      height: 440px;
      .img{
        height: 75%;
    }
        .titleItem{
            font-size: 21px;
        }
        .infoItem{
            gap: 20px;
            font-size: 18px;
        }
    }
}
 }
 @media screen and (max-width:525px) {
  .bestSeller{
    margin-top: 90px;
  }
  .bestSelerTitle{
    font-size: 25px;
}
  .bestItems{
    gap:15px;
    .item{
      height: 400px;
        .titleItem{
            font-size: 20px;
        }
        .infoItem{
            gap: 10px;
            font-size: 15px;
        }
    }
}
 }
 @media screen and (max-width:450px) {
  .bestSelerTitle{
    font-size: 24px;
  }
    .bestItems{
      gap:20px 10px;

      .item{
        height: 360px;  
        margin:0 ;
        min-width: calc(50% - 5px);
        .img{
          .towishlist{
            position: absolute;
            right: 7px;
            top: 5px;
            width: 31px;
          }
        }
          .titleItem{
              font-size: 19px;
          }
          .infoItem{
              gap: 10px;
              font-size: 13px;
              .tocart{
                font-size: 12px;
              }
          }
      }
  }

  .salecontainer{
    left: 7px;
    top: 9px;
    font-size: 13px
  }
  .outofstock{
    padding: 9px;
    font-size: 14px;
  }
}
 @media screen and (max-width:400px) {
   .bestSeller{
     margin-top: 80px;
   }
  .bestSelerTitle{
    font-size: 20px;
  }
    .bestItems{
      .item{
        height: 350px;  
        .img{
          .towishlist{
            position: absolute;
            right: 7px;
            top: 5px;
            width: 29px;
          }
        }
          .titleItem{
              font-size: 16px;
          }
          .infoItem{
              gap: 8px;
              font-size: 12px;
              .tocart{
                font-size: 11px;
              }
          }
      }
  }
  .outofstock{
    padding: 8px;
    font-size: 13px;
  }
}
